<!DOCTYPE html>
<html>
<head>
<link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
	<div class="event" th:fragment="event">
		<a th:href="@{'/events/' + ${event.id}}"><h2 th:text="${event.title}">Termineinladung</h2></a>
		<div class="info">
			<div class="date">
				<p class="info-date">
					Datum: <span th:text="${event.date}">15. Januar 2016</span>
				</p>
				<p class="info-time">
					Uhrzeit: <span th:text="${event.time}">14:30 Uhr</span>
				</p>
			</div>
			<div class="address">
				<p>
					Adresse: <span th:text="${event.address}">Hauptstra&szlig;e 1234 Teststadt</span>
				</p>
			</div>
			<div class="description">
				<p>
					Informationen: <span th:text="${event.information}">weitere Informationen</span>
				</p>
			</div>
			<div class="link">
				<p>
					Link zum Veranstalter: <span><a th:text="${event.link}" th:href="${event.link}">Link</a></span>
				</p>
			</div>
			<a sec:authorize="isAuthenticated()" th:href="@{'/admin/' + ${event.id}}">bearbeiten</a>
		</div>
	</div>
</body>
</html>